---
# This variables file is used by all host groups.

wifi_interface: "wlan0"
ethernet_interface: "eth0"

ubuntu_codename: "noble"
system_architecture: "arm64"

enable_systemd_cgroups: "true"

nodes:
  eniac-node1:
    node_info:
      name: eniac-node1
      fqdn: eniac-node1.home.gawbul.io
      ip_address: "192.168.50.4"
  eniac-node2:
    node_info:
      name: eniac-node2
      fqdn: eniac-node2.home.gawbul.io
      ip_address: "192.168.50.5"
  eniac-node3:
    node_info:
      name: eniac-node3
      fqdn: eniac-node3.home.gawbul.io
      ip_address: "192.168.50.6"
  eniac-node4:
    node_info:
      name: eniac-node4
      fqdn: eniac-node4.home.gawbul.io
      ip_address: "192.168.50.7"
    labels:
      - workload=ai

router_gateway_ip: "192.168.50.1"
