[tools]
ansible = "latest"
container-structure-test = "latest"
cosign = "latest"
flux2 = "latest"
go = "latest"
helm = "latest"
hk = "latest"
jq = "latest"
k9s = "latest"
kubectl = "latest"
kubectx = "latest"
pkl = "latest"
python = "latest"
shellcheck = "latest"
skaffold = "latest"
slsa-verifier = "latest"
usage = "latest"
yq = "latest"

[env]
HOMELAB_NODES = "eniac-node1 eniac-node2 eniac-node3 eniac-node4"
HOMELAB_IPS = "192.168.50.4 192.168.50.5 192.168.50.6 192.168.50.7"

[tasks.prelint]
description = "Run prelint commands"
run = "echo prelint"

[tasks.postlint]
description = "Run postlint commands"
run = "echo postlint"

[tasks.ssh-command-run]
description = "Run a command over SSH on the remote nodes"
run = """
for node in $HOMELAB_NODES; do
  ssh $node {{arg(name="command")}}
done
"""

[tasks.ansible-playbook-run]
description = "Run the Ansible playbooks using the hosts file"
run = """
ansible-playbook --inventory hosts site.yaml --extra-vars "@flux_github_token.yaml"
"""

[tasks.local-playbook-run]
description = "Run the local Ansible playbook in isolation"
run = """
ansible-playbook --inventory hosts site.yaml --tags local --extra-vars "@flux_github_token.yaml"
"""

[tasks.k3s-playbook-run]
description = "Run the K3s Ansible playbook in isolation"
run = """
ansible-playbook --inventory hosts site.yaml --tags k3s
"""

[tasks.etc-hosts-set]
description = "Set the hostnames in /etc/hosts"
run = """
sudo sed -E -i '' '/^.*[a-z.-]+kubernetes.local.*$/d' /etc/hosts
read -r -a NODE_IPS <<< "${HOMELAB_IPS}"
read -r -a NODE_NAMES <<< "${HOMELAB_NODES}"
for i in {0..3}; do
  echo "${NODE_IPS[$i]}	${NODE_NAMES[$i]}.kubernetes.local	${NODE_NAMES[$i]}" | sudo tee -a /etc/hosts
done
"""

[tasks.kubeconfig-get]
description = "Fetch the K3s kubeconfig from the control plane"
run = """
scp eniac-node1:/etc/rancher/k3s/k3s.yaml kubeconfig/k3s.yaml
sed -i '' 's/127.0.0.1/eniac-node1/g' kubeconfig/k3s.yaml
"""

[tasks.age-generate-keys]
description = "Generate age encryption keys"
run = """
age-keygen -o ~/.config/sops/age/keys.txt
"""

[tasks.sops-secret-create]
description = "Create sops secret in cluster"
run = """
cat /Users/gawbul/.config/sops/age/keys.txt | kubectl create secret generic sops-age --namespace=flux-system --from-file=age.agekey=/dev/stdin
"""

[tasks.flux-uninstall]
description = "Uninstall Flux"
run = """
flux uninstall --namespace=flux-system
"""
