network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: false
      dhcp6: false
      addresses:
        - {{ item.value['node_info'].ip_address }}/24
      routes:
        - to: default
          via: {{ router_gateway_ip }}
      nameservers:
        addresses: [1.1.1.1, 4.4.4.4, 8.8.4.4, 8.8.8.8]