---
# This playbook contains plays that will be run locally.

- name: Set the local kube config
  ansible.builtin.command: mise run kubeconfig-get

- name: Apply worker node labels to all nodes
  ansible.builtin.shell: |
    kubectl label node {{ item.key }} node-role.kubernetes.io/worker=worker --overwrite
  loop: "{{ nodes | dict2items }}"

- name: Install Flux
  ansible.builtin.shell: |
    echo "{{ github_token }}" | flux bootstrap github \
      --token-auth \
      --owner={{ github_username }} \
      --repository={{ gitops_repository }} \
      --branch={{ gitops_branch }} \
      --path={{ gitops_path}} \
      --personal \
      --components source-controller,kustomize-controller,helm-controller,notification-controller \
      --components-extra image-reflector-controller,image-automation-controller

- name: Check if SOPS age secret exists
  ansible.builtin.command: kubectl get secret sops-age -n flux-system
  register: sops_secret_check
  ignore_errors: true
  changed_when: false

- name: Create SOPS age secret
  ansible.builtin.shell: |
    cat ~/.config/sops/age/keys.txt | kubectl create secret generic sops-age --namespace=flux-system --from-file=age.agekey=/dev/stdin
  when: sops_secret_check.rc != 0
