---
# This playbook contains plays that will be run locally.

- name: Set the local kube config
  ansible.builtin.command: mise run kubeconfig-get

- name: Apply node labels to worker nodes
  ansible.builtin.shell: |
    kubectl label node eniac-node2 node-role.kubernetes.io/worker=worker --overwrite
    kubectl label node eniac-node3 node-role.kubernetes.io/worker=worker --overwrite
    kubectl label node eniac-node4 node-role.kubernetes.io/worker=worker --overwrite

- name: Install Flux
  ansible.builtin.shell: |
    echo "{{ github_token }}" | flux bootstrap github \
      --token-auth \
      --owner={{ github_username }} \
      --repository={{ gitops_repository }} \
      --branch={{ gitops_branch }} \
      --path={{ gitops_path}} \
      --personal \
      --components source-controller,kustomize-controller,helm-controller,notification-controller \
      --components-extra image-reflector-controller,image-automation-controller
